@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #0f172a;
}

@keyframes slowZoom {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1.12);
  }
}

.navbar-active {
  color: #0284c7 !important;
}

.navbar-active::after {
  width: 100% !important;
}